.border-radius-alfamart {
  border-radius: 24px 0px 24px 0px;
}

.bg-gradient-red {
  background-color: #E02020;
  background-image: linear-gradient(180deg, #E02020 10%, #980b0b 100%);
  background-size: cover;
}

.webkit-center {
  text-align: -webkit-center;
}

.red-alfa {
  background: #E02020;
}

.btn-border-alf {
  border-radius: 12px 0 12px 0;
}

.vertical-align-middle {
  vertical-align: middle;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #E02020;
}

.rounded-circle {
  border-radius: 50%;
}

